html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.container {
	display: table;
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("/pictures/1.jpg") no-repeat center center/cover;
}

.inside {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
}

h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 3em;
	color: whitesmoke;
	text-shadow: 0px 0px 300px mediumturquoise;
}

h1 .explore {
	color: rgb(255, 7, 243);
}
h1 .explore:hover {
	color: rgb(4, 239, 247);
}

h1 .universe {
	color: rgb(4, 239, 247);
}

h1 .universe:hover {
	color: rgb(255, 7, 243);
}

.button {
	border-radius: 8px;
	border: 3px solid rgb(56, 40, 61);
	padding: 10px 20px;
	font-family: "Helvetica", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 500;
	color: rgba(64, 109, 134, 0.788);
	cursor: pointer;
}

.button:hover {
	animation: border-flicker 2s linear forwards;
}

.button:hover .restart {
	animation: letter-flicker 3s linear infinite;
}
.button:hover .yourself {
	animation: text-flicker 3s linear forwards;
}

@keyframes text-flicker {
	2% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	3% {
		color: rgba(7, 112, 182, 0.918);
		text-shadow: none;
	}
	6% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	9% {
		color: rgba(7, 112, 182, 0.918);
		text-shadow: none;
	}
	11% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	14% {
		color: rgba(7, 112, 182, 0.918);
		text-shadow: none;
	}
	18% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	32% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	33% {
		color: rgba(7, 112, 182, 0.918);
		text-shadow: none;
	}
	37% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	39% {
		color: rgba(7, 112, 182, 0.918);
		text-shadow: none;
	}
	43% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	46% {
		color: rgba(7, 112, 182, 0.918);
		text-shadow: none;
	}
	47% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	100% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
}
@keyframes letter-flicker {
	2% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	3% {
		color: rgba(7, 112, 182, 0.918);
		text-shadow: none;
	}
	6% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	9% {
		color: rgba(7, 112, 182, 0.918);
		text-shadow: none;
	}
	11% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	14% {
		color: rgba(7, 112, 182, 0.918);
		text-shadow: none;
	}
	18% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	32% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	33% {
		color: rgba(7, 112, 182, 0.918);
		text-shadow: none;
	}
	37% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	39% {
		color: rgba(7, 112, 182, 0.918);
		text-shadow: none;
	}
	43% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	46% {
		color: rgba(7, 112, 182, 0.918);
		text-shadow: none;
	}
	47% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
	100% {
		color: rgb(4, 239, 247);
		text-shadow: 0 0 15px rgb(4, 239, 247);
	}
}

@keyframes border-flicker {
	2% {
		border: 3px solid rgb(255, 7, 243);
		box-shadow: 0 0 15px -1px rgb(255, 7, 243), 0 0 12px -1px rgb(255, 7, 243) inset;
	}
	3% {
		border: 3px solid rgb(56, 40, 61);
		box-shadow: none;
	}
	5% {
		border: 3px solid rgb(255, 7, 243);
		box-shadow: 0 0 15px -1px rgb(255, 7, 243), 0 0 12px -1px rgb(255, 7, 243) inset;
	}
	6% {
		border: 3px solid rgb(56, 40, 61);
		box-shadow: none;
	}
	7% {
		border: 3px solid rgb(255, 7, 243);
		box-shadow: 0 0 15px -1px rgb(255, 7, 243), 0 0 12px -1px rgb(255, 7, 243) inset;
	}
	9% {
		border: 3px solid rgb(56, 40, 61);
		box-shadow: none;
	}
	13% {
		border: 3px solid rgb(255, 7, 243);
		box-shadow: 0 0 15px -1px rgb(255, 7, 243), 0 0 12px -1px rgb(255, 7, 243) inset;
	}
	16% {
		border: 3px solid rgb(56, 40, 61);
		box-shadow: none;
	}
	18% {
		border: 3px solid rgb(255, 7, 243);
		box-shadow: 0 0 15px -1px rgb(255, 7, 243), 0 0 12px -1px rgb(255, 7, 243) inset;
	}
	22% {
		border: 3px solid rgb(56, 40, 61);
		box-shadow: none;
	}
	34% {
		border: 3px solid rgb(255, 7, 243);
		box-shadow: 0 0 15px -1px rgb(255, 7, 243), 0 0 12px -1px rgb(255, 7, 243) inset;
	}
	36% {
		border: 3px solid rgb(56, 40, 61);
		box-shadow: none;
	}
	54% {
		border: 3px solid rgb(255, 7, 243);
		box-shadow: 0 0 15px -1px rgb(255, 7, 243), 0 0 12px -1px rgb(255, 7, 243) inset;
	}
	100% {
		border: 3px solid rgb(255, 7, 243);
		box-shadow: 0 0 15px -1px rgb(255, 7, 243), 0 0 12px -1px rgb(255, 7, 243) inset;
	}
}

p {
	font-size: 1.1em;
	font-family: "Helvetica", sans-serif;
	padding: 10px;
	margin: 20px 10px;
}

@media only screen and (max-width: 600px) {
	.button {
		font-size: 1.6em;
	}
}
